<!doctype html>
<html>
<head>
  <title>{% block title %}IEX API{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <h1>IEX Cloud API</h1>
  <form action='/'>
    <label>Enter a stock symbol</label>
    <input type="text" name="symbol">
    <input type="submit">
  </form>
</div>
  STOCK DATA FOR {{ symbol }}
  {% for data in stock_data %}
  <table>
    <tr>
      <td>{{ data }} = </td>
      <td>{{ stock_data[data] }}</td>
    </tr>
  </table>
  {% endfor %}
</body>
</html>